
.stage {
  width: 100%;
  height: 100%;
  display: inline-block;
  perspective: 1200px;
  perspective-origin: 50% 50%;
}


.ball{
  display: block;
  position: relative;
  background: black;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  background: radial-gradient(circle at 100px 100px, #537895, #000);


}
.shadow {
  position: absolute;
  margin-top:-125px;
  margin-left: -150px;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}

.center{


  display: block;
  position: fixed;
  background: black;
  border-radius: 50%;
  height: 250px;
  width: 250px;
	top: 50%;
  left: 50%;
  margin: -160px 0px 0px -125px;
  background: radial-gradient(circle at 100px 100px, white, #545454);
	transform: translateX(-75px) translateY(-55px) skewX(-15deg) skewY(-2deg);
}

.triangle{
	position: fixed;

	top: 50%;
  left: 50%;
  margin: -150px 0px 0px -180px;

	border-radius: 0%;
	border-left: 90px solid transparent;
	border-right: 130px solid #537895;
	border-top: 90px solid transparent;
	border-bottom: 90px solid transparent;

	transform: rotate(35deg);

}

.answer{
	position: absolute;
	color: white;
	top: 50%;
  left: 50%;
  margin: -10px 0px 0px 65px;

  transform: rotate(-35deg);
}


